* {
    padding: 0;
    margin: 0;
}

body {

    background: #000;
    color: #fff;

    display: flex;
    flex-direction: column;

    padding-top: 35px;
}


.main {

    border: 2px #fff dashed;
    border-top: none;

    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(5, 90px);
    grid-gap: 5px;

    justify-content: center;
    align-content: flex-start;

    align-self: center;
  
    padding: 5px;

    height: 390px;

    max-width: 800px;
    min-width: 400px;
    padding-top: 20px;
   
}


.main > div {
    
    border: #333 solid 1px;
    border-radius: 10px;
    background: rgba(156, 101, 134, 0.05);
    border-bottom: deeppink solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    transition: 1.5s;
}

.main .n15 {
    grid-row: span 2;
}

.main > div:hover {
   background: royalblue;
   transition: .2s;
   
}

.main > div:active {
    background: skyblue;
    transition: .2s;
    
 }

 .txtInput {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 2px #fff dashed;
     border-bottom: none;

     align-self: center;

     padding-left: 5px;
     padding-right: 5px;

    height: auto;
    max-width: 800px;
    min-width: 400px;

 }


 .inputTxt {
     width: 470px;
     height: 75px;
     font-size: 40px;
     font-weight: bolder;
     text-align: center;

     background: rgba(49, 49, 49, 0.418);
     color: #fff;
     border: none;
     border-bottom: 3px solid deeppink;
     margin-top: 15px;
     transition: .5s;
 }

 .inputTxt:hover {
     background: rgba(255, 0, 153, 0.4);
     transition: .5s;
 }

 .inputTxt:focus {
    background: rgba(255, 0, 153, 0.7);
 }

 .pie {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
        

 }

 .pie ul {
     list-style-type: none;
     
 }

 .pie ul li {
     display: inline-block;
 }

 
 @media screen and (max-width: 600px) {

    .main {

        border-top: none;
    
        display: grid;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: repeat(5, 60px);
        grid-gap: 5px;
    
        justify-content: center;
        align-content: flex-start;
    
        align-self: center;
      
         
        height: 290px;
    
        max-width: 500px;
        min-width: 400px;
        padding-top: 30px;
       

       
    }

    .txtInput {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px #fff dashed;
        border-bottom: none;
   
        align-self: center;
   
        padding-left: 5px;
        padding-right: 5px;
   
       height: auto;
       max-width: 500px;
       min-width: 400px;
   
    }


    .inputTxt {
        width: 390px;
        height: 75px;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
   
        margin-top: 15px;
        
    }

    .main > div {
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-weight: bolder;
        font-size: 20px;
      
    }
    
   
    

 }


 @media screen and (max-width: 430px) {

    .main {

        border-top: none;
    
        display: grid;
        grid-template-columns: repeat(5, 55px);
        grid-template-rows: repeat(5, 55px);
        grid-gap: 3px;
    
        justify-content: center;
        align-content: flex-start;
    
        align-self: center;
      
         
        height: 250px;
    
        max-width: 350px;
        min-width: 300px;
        padding-top: 20px;
       

       
    }

    .txtInput {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px #fff dashed;
        border-bottom: none;
   
        align-self: center;
   
        padding-left: 5px;
        padding-right: 5px;
   
       height: auto;
       max-width: 350px;
       min-width: 300px;
   
    }


    .inputTxt {
        width: 300px;
        height: 65px;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
   
        margin-top: 15px;
        
    }

    .main > div {
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-weight: bolder;
        font-size: 15px;
      
    }
    
   
    

 }